body {
  background: radial-gradient(circle, #E2C2B9, #F1F7E7);
  font-family: arial, helvetica,sans-serif;
}
div{
  vertical-align: middle;
  display: inline;
}
h2{
  font-size: 3em;
  text-align: center;
  background: radial-gradient(circle, #CCEEFF,#E2C2B9 );
}
.boton{
  color:white;
  padding: 15px 20px;
  background-color: grey;
  font-size: 1.5em;
  border-radius: 10px;
}
.boton:hover{
  background-color: orange;
  border-radius: 20px;
  color: black;
}
